@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    display:flex;
    flex-direction: column;
    font-family: 'Inconsolata', 'Arial', monospace;
    margin: 0px;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}

ul {
    display:flex;
    list-style-type: none;
}

li {
    margin: 16px;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: 15px;
}

.button1 {
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(133, 42, 166);
    padding: 8px 35px;
    border-radius: 8px;
    font-size: 15px;
}

.button2 {
    color: white;
    font-weight: bold;
    background-color: rgb(133, 42, 166);
    padding: 8px 35px;
    border-radius: 8px;
    border-style: solid;
    font-size: 15px;
    border-color: white;
}

.top {
    background-color: #111111;
    padding-left: 200px;
    padding-right: 200px;
    flex-shrink: 0;
}

.header {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.intro { 
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 12px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-small-text {
    font-size: 18px;
    color: rgb(212, 212, 212);
    margin-top: 8px;
    margin-bottom: 8px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.left, .right {
    width: 400px; 
}

.randominfo {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #1F2937;

}

.randominfo-text {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.randomimages {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    font-size: 18px;
    padding: 16px;
    margin: 16px;
    width: 250px;
  }

.quote {
    padding: 100px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #E5E7EB;
    color: black;
}

.quotetext {
    font-size: 36px;
    font-style:italic;
}

.thor {
    font-size: 36px;
    font-weight: bold;
    text-align:end
}

.action {
    justify-content:center;
    align-items: center;
    color: white;
}

.actioncontainer {
    border-radius: 15px;
    padding: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 200px;
    background-color:rgb(133, 42, 166);
}

.call {
    font-size: 28px;
    font-weight: bolder;
}

.signup {
    font-size: 18px;
}
